@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    font-family: 'Roboto', sans-serif;
}
h1{
    margin: 50px;
    color: #000;
    text-align:center ;
}
.button{
    background-color: #000000;
    border-radius: 50px;
    border:none ;
    box-shadow:0 5px 18px rgba(0, 0, 0,0.3 );
    color: #ffffff;
    font-size:20px ;
    padding: 20px 60px ;
    width: 500px; 
    margin: 30px;
}
.button:hover{
    background-color: #ffffff;
    color:black;
}


label{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    width: 20%;
    display: inline-block;
}
input{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border-width: 0px;
}
select{
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    border-radius: 20px;
}
option{
    font-size: 15px;
    border-width: 0px;
}

textarea{
    border-radius: 20px;
    height:70px ;
    width: 270px; 
    border-radius: 20px;
    margin:auto;    
}
form{
    margin-left: 35%;
}
#adress{
    margin-left: 20px;
}
@media screen and (max-width: 768px){
    form{
        flex-direction: column;
        margin: 50px 0;
        text-align: center;
        justify-content: center;
        font-size: medium;
        justify-content: center;

    }
    button{
        padding: 20px 40px ;
    }
}
@media screen and (max-width: 375px){
    form{
        flex-direction: column;
        margin: 50px 0;
        text-align: center;
        justify-content: center;
        font-size: medium;
        justify-content: center;

    }
    button{
        padding: 20px 40px ;
    }
}
